<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IUserService" />
   </basicHttpBinding>
   <netTcpBinding>
    <binding name="NetTcpBinding_IMusicService" sendTimeout="00:30:00"
     transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
     <readerQuotas maxDepth="640" maxStringContentLength="1048576000"
      maxArrayLength="1048576000" maxBytesPerRead="1048576000" maxNameTableCharCount="1048576000" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8734/Design_Time_Addresses/server/Service1/"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMusicService"
    contract="MusicService.IMusicService" name="NetTcpBinding_IMusicService">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
   <endpoint address="http://localhost:8733/Design_Time_Addresses/server/UserService/"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
    contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
  </client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>